.about_banner {
  padding-top: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0; }
  .about_banner .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: left;
    flex-direction: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about_banner .row img {
      -webkit-animation: fade_in 3s 1 both;
      animation: fade_in 3s 1 both; }
    .about_banner .row H1 {
      -webkit-animation: text_up 1s 0.1s 1 backwards;
      animation: text_up 1s 0.1s 1 backwards;
      font-size: 72px; }
    .about_banner .row H5 {
      -webkit-animation: text_up 1s 0.4s 1 backwards;
      animation: text_up 1s 0.4s 1 backwards; }
    @media screen and (max-width: 800px) {
      .about_banner .row {
        text-align: center; }
        .about_banner .row H1 {
          font-size: 52px; }
        .about_banner .row img {
          width: 100%; } }

.about_banner_img {
  width: 520px;
  margin: 0 auto; }

@-webkit-keyframes text_up_me {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-85%);
    transform: translateY(-85%);
    opacity: 1; } }

@keyframes text_up_me {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-85%);
    transform: translateY(-85%);
    opacity: 1; } }

.resume {
  position: relative;
  padding: 80px 0px 100px 0px;
  margin-top: -20px; }
  .resume .row {
    padding: 20px 0px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: text_up 1s 0.5s 1 backwards;
    animation: text_up 1s 0.5s 1 backwards; }
    @media screen and (max-width: 1024px) {
      .resume .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .resume .row .type {
          margin: 25px 20px;
          padding: 10px 0px;
          border: none;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1); } }
  .resume #row_1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .resume #row_2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .resume #row_3 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .resume #row_4 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .resume #row_5 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .resume .type {
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    max-width: 150px;
    min-width: 150px;
    padding: 16px 20px;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    font-size: 18px;
    position: relative; }
  .resume .context {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 7px 0; }
  .resume ul {
    display: block;
    margin: 0px;
    padding: 16px 20px;
    vertical-align: center; }
    .resume ul li {
      vertical-align: center;
      list-style: none; }
      .resume ul li h3 {
        line-height: 1.3em;
        font-size: 22px; }
      .resume ul li .p {
        display: inline-block;
        font-size: 16px;
        margin-top: 3px; }
      .resume ul li .contact_type {
        vertical-align: center;
        width: 80px;
        height: 2em; }
    .resume ul img {
      display: inline; }
    .resume ul a {
      margin-left: 5px;
      display: inline;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      line-height: 2em; }
  .resume hr {
    margin-top: 100px; }

.back {
  padding: 10px 5px;
  margin: 45px auto 100px auto;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .back:hover {
    color: rgba(255, 91, 44, 0.8);
    border-color: rgba(255, 91, 44, 0.8); }
