@media screen and (min-width: 1024px) {
  .mobile_nav {
    display: none; } }
body {
  padding-top: 55px; }

.works {
  width: 100%; }
  .works .iframe_3d {
    width: 700px; }
    @media screen and (max-width: 1024px) {
      .works .iframe_3d {
        width: 100%; } }

section.works_3d {
  padding: 20px 0px 0px 0px; }
  section.works_3d .iframe_3d {
    background-color: #eeeeee;
    z-index: 200; }
    section.works_3d .iframe_3d #3d {
      animation: fade_in 1s 2s 1 both; }
  @media screen and (max-width: 1024px) {
    section.works_3d {
      padding: 0px; } }
  section.works_3d .info {
    width: 35%; }
    @media screen and (max-width: 1024px) {
      section.works_3d .info {
        width: 100%; } }

.works_2d {
  margin: 50px -0.3vw;
  animation: text_up 1s 1.6s 1 both;
  font-size: 0; }
  .works_2d .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .works_2d a.work_2d {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #eeeeee;
    flex: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    height: 60%;
    max-height: 240px;
    width: 180px;
    margin: 0.3vw;
    opacity: 0.9; }
    .works_2d a.work_2d:hover {
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
      opacity: 1; }
    .works_2d a.work_2d img {
      width: 100%;
      height: auto; }
    .works_2d a.work_2d:focus {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      opacity: 1; }

section.works_craft {
  padding: 50px 0px;
  margin-bottom: 50px; }
  section.works_craft .top_work {
    margin-bottom: 100px; }
    section.works_craft .top_work h2 {
      vertical-align: bottom;
      display: inline-block;
      margin-right: 6px; }
    section.works_craft .top_work h5 {
      bottom: 7px;
      vertical-align: bottom;
      display: inline-block; }
    section.works_craft .top_work .photo {
      width: 600px;
      height: 400px;
      animation: text_up 1s 0.5s 1 both; }
    section.works_craft .top_work hr {
      width: 72px; }
    @media screen and (max-width: 1024px) {
      section.works_craft .top_work {
        padding: 50px 0px; }
        section.works_craft .top_work .photo {
          width: 100%;
          height: 400px;
          order: 1; }
        section.works_craft .top_work .info {
          order: 2; } }

@media screen and (max-width: 1024px) {
  .works_3d img, .works_craft img, works_2d img {
    width: 100%; } }

.footer a.link::before {
  background-image: url(../images/ortherWorks_footer_hover.jpg); }
.footer a.link::after {
  background-image: url(../images/ortherWorks_footer.jpg); }
