.content_1440 {
  padding: 50px 10px; }

.content_1024 {
  padding: 50px 10px; }

.content_800 {
  padding: 50px 10px; }

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eee;
  padding: 200px 20px 50px 20px;
  text-align: center;
  position: relative;
  -webkit-animation: fade_in 2s 1 both;
  animation: fade_in 2s 1 both;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .banner p {
    font-size: 16px; }
  .banner .content_1440 {
    text-align: left;
    z-index: 20; }
  .banner .article_title {
    display: inline-block;
    text-align: left;
    word-break: break-word;
    -webkit-animation: text_up 1s 1 both;
    animation: text_up 1s 1 both;
    width: 40%; }
    .banner .article_title h1 {
      line-height: 10px; }
    .banner .article_title hr {
      border: 3px solid #57d0cc;
      border-radius: 0;
      width: 70px;
      margin: 10px 0; }
    .banner .article_title .title_en {
      font-size: 42px;
      letter-spacing: 2px;
      font-weight: normal; }
    .banner .article_title .tag {
      margin-bottom: 20px;
      font-size: 16px;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.6); }
  .banner .banner_img {
    max-width: 800px;
    display: inline-block;
    position: absolute;
    bottom: -100px;
    -webkit-animation: text_up 1s 0.2s 1 both;
    animation: text_up 1s 0.2s 1 both; }
    .banner .banner_img img {
      width: 100%;
      display: inline-block; }
  @media screen and (max-width: 1024px) {
    .banner {
      padding: 10px 10px 10px 10px; }
      .banner .article_title {
        width: 100%; }
      .banner .banner_img {
        position: relative;
        width: 100%;
        bottom: -50px; } }

.web_link {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  margin-top: 20px;
  -webkit-transition: 1px;
  -o-transition: 1px;
  transition: 1px;
  letter-spacing: 2px;
  border: 3px solid rgba(0, 0, 0, 0.6);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .web_link:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent; }

.color_bg {
  background-color: #333;
  -webkit-animation: fade_in 0.5s 1  both;
  animation: fade_in 0.5s 1  both; }
  .color_bg h1, .color_bg h2, .color_bg h3, .color_bg h4, .color_bg h5, .color_bg p {
    font-weight: 300;
    -webkit-animation: text_up 1s 0.5s 1 both;
    animation: text_up 1s 0.5s 1 both;
    color: rgba(255, 255, 255, 0.95); }
  .color_bg p {
    font-weight: Lightest;
    font-size: 16px; }

.color_bg_work1 {
  background-color: #038065; }

.color_bg_work2 {
  background-color: #414985; }

.color_bg_work3 {
  background-color: #333; }

.color_bg_work4 {
  background-color: #333; }

.color_bg_work5 {
  background-color: #333; }

.color_bg_work6 {
  background-color: #333; }

.article {
  position: relative;
  padding: 30px 0px 130px 0px;
  -webkit-animation: text_up 1s 0.7s 1 backwards;
  animation: text_up 1s 0.7s 1 backwards;
  text-align: center; }
  .article p, .article h1, .article h2, .article h3, .article h4, .article h5 {
    text-align: left;
    font-weight: normal; }
  .article h1, .article h2, .article h3, .article h4, .article h5 {
    line-height: 300%; }
  .article p {
    font-size: 16px;
    line-height: 24px; }
    @media screen and (max-width: 1024px) {
      .article p {
        font-size: 14px; } }
  .article img {
    margin: 0px auto;
    max-width: 100%; }
    @media screen and (max-width: 1024px) {
      .article img {
        width: 100%; } }
  .article hr {
    margin-top: 100px; }
  @media screen and (max-width: 1024px) {
    .article {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer_botton {
  position: relative; }
  .footer_botton #prev, .footer_botton #next, .footer_botton .article_back {
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 50px; }
    .footer_botton #prev:hover, .footer_botton #next:hover, .footer_botton .article_back:hover {
      color: rgba(255, 91, 44, 0.8); }
  .footer_botton #prev {
    left: 0px;
    letter-spacing: 1px; }
  .footer_botton #next {
    right: 0px;
    letter-spacing: 2px; }

a.article_back {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  letter-spacing: 2px; }
  a.article_back:hover {
    border-bottom: 2px solid rgba(255, 91, 44, 0.8); }
