.content_1440, .content_1200, .content_1024, .content_800 {
  padding: 50px 10px; }

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eee;
  padding: 200px 20px 50px 20px;
  text-align: center;
  position: relative;
  -webkit-animation: fade_in 2s 1 both;
  animation: fade_in 2s 1 both;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .banner p {
    font-size: 16px; }
  .banner .content_1440 {
    text-align: left;
    z-index: 20; }
  .banner .article_title {
    display: inline-block;
    text-align: left;
    word-break: break-word;
    -webkit-animation: text_up 1s 1 both;
    animation: text_up 1s 1 both;
    width: 40%; }
    .banner .article_title h1 {
      line-height: 0px; }
      @media screen and (max-width: 1024px) {
        .banner .article_title h1 {
          line-height: 100%; } }
    .banner .article_title hr {
      border: 3px solid #57d0cc;
      border-radius: 0;
      width: 70px;
      margin: 10px 0; }
    .banner .article_title .title_en {
      font-size: 64px;
      letter-spacing: 2px;
      font-weight: normal; }
    .banner .article_title .tag {
      margin-bottom: 30px;
      font-size: 26px; }
  .banner .banner_img {
    max-width: 800px;
    display: inline-block;
    position: absolute;
    bottom: -100px;
    -webkit-animation: text_up 1s 0.2s 1 both;
    animation: text_up 1s 0.2s 1 both; }
    .banner .banner_img img {
      width: 100%;
      display: inline-block; }
  @media screen and (max-width: 1024px) {
    .banner {
      padding: 10px 10px 10px 10px; }
      .banner .article_title {
        width: 100%; }
      .banner .banner_img {
        position: relative;
        width: 100%;
        bottom: -50px; } }

.color_bg {
  background-color: #333;
  -webkit-animation: fade_in 0.5s 1  backwards;
  animation: fade_in 0.5s 1  backwards; }
  .color_bg h1, .color_bg h2, .color_bg h3, .color_bg h4, .color_bg h5 {
    line-height: 200%; }
  .color_bg h1, .color_bg h2, .color_bg h3, .color_bg h4, .color_bg h5, .color_bg p, .color_bg li {
    font-weight: 300;
    -webkit-animation: text_up 1s 0.5s 1 both;
    animation: text_up 1s 0.5s 1 both;
    color: rgba(255, 255, 255, 0.95); }
  .color_bg li {
    font-size: 16px;
    line-height: 30px; }
  .color_bg .img_tag {
    color: rgba(255, 255, 255, 0.3); }

.color_bg_work_setupwizard {
  background-color: #171717; }

.color_bg_work_tw568 {
  background-color: #038065; }

.color_bg_work_icc {
  background-color: #414985; }

.color_bg_work_total {
  background-color: #333333; }

.color_bg_work_portfolio {
  background-color: #18A193; }

.color_bg_work_formosaas {
  background-color: #0B304F; }

.color_bg_gray_white {
  background-color: #f8f8f8; }

.color_bg_work_chair {
  background-color: #4F4A49; }

.article {
  position: relative;
  padding: 30px 0px 130px 0px;
  -webkit-animation: text_up 1s 0.7s 1 backwards;
  animation: text_up 1s 0.7s 1 backwards;
  text-align: center; }
  .article p, .article h1, .article h2, .article h3, .article h4, .article h5 {
    text-align: left;
    font-weight: normal; }
  .article h1, .article h2, .article h3, .article h4, .article h5 {
    line-height: 200%; }
  .article h3 {
    font-size: 28px; }
  .article p {
    font-size: 16px;
    line-height: 24px; }
  .article img {
    margin: 25px auto 0px auto;
    max-width: 100%; }
    @media screen and (max-width: 1024px) {
      .article img {
        width: 100%; } }
  .article .icon {
    margin: 0px auto 0px auto; }
    @media screen and (max-width: 1024px) {
      .article .icon {
        max-width: 100px; } }
  .article hr {
    margin-top: 100px; }

.overlapping_right {
  display: inline-block; }
  @media screen and (min-width: 1024px) {
    .overlapping_right {
      position: relative;
      margin: 0px;
      margin-right: -80px;
      bottom: 150px; } }
  @media screen and (max-width: 1024px) {
    .overlapping_right {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer_botton {
  position: relative; }
  .footer_botton #prev, .footer_botton #next, .footer_botton .article_back {
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 50px; }
    .footer_botton #prev:hover, .footer_botton #next:hover, .footer_botton .article_back:hover {
      color: rgba(255, 91, 44, 0.8); }
  .footer_botton #prev {
    left: 0px;
    letter-spacing: 1px; }
  .footer_botton #next {
    right: 0px;
    letter-spacing: 2px; }

a.article_back {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  letter-spacing: 2px; }
  a.article_back:hover {
    border-bottom: 2px solid rgba(255, 91, 44, 0.8); }

.works_3d .top_work {
  display: inline-block; }

.p_20 {
  padding-left: 20px;
  padding-right: 20px; }
