html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title About-Mandy Jian
		link(rel="icon" href="images/favicon.png" type="image/png" sizes="32x32")

		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/about.css")


	body
		.about_banner(style='background: url(images/about_banner.jpg)')
			
		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="index.html")
								h6 UI DESIGN
						li 
							a(href="other_works.html")
								h6 OTHER WORKS
						li 
							a(href="about.html")
								h6 ABOUT
						//- li
						//- 	a(href="resume.html")
						//- 		h6 RESUME
		.content_1024
			.me
				.row#row_1
				.pic(style='background: url(images/about_pic.jpg)')
				.name
					h1 Mandy Jian
					//- h2 UI Designer
			.resume
				.row#row_2
					.type About Me
					ul
						li.point_p 我是簡曼婷，可以叫我Mandy，我是一位重視使用者經驗與美感間平衡的介面設計師，偏好簡潔優雅的設計風格，期望可以持續創造帶給人們美好感受的產品。

				.row#row_3
					.type Experience
					ul
						li.point_p 
							h3 使用者介面設計師
							.p 晶睿通訊股份有限公司
							.p 2018 - 2019
						li.context 於使用者經驗部門擔任使用者經驗設計師，主要負責GUI設計，工作內容包含繪製wireframes、UI  spec、mockups、Icon設計等。我參與過的公司自有品牌軟體專案包含桌上型電腦與手機APP(Android、iOS)、網頁雲端服務、硬體崁入式軟體，與其他UX/UI設計師、PM與工程師跨部門合作開發，學習到如何與不同團隊合作溝通並更精進設計的細節與準確度。

						ul
						li.point_p 
							h3 網頁視覺設計師
							.p 元祺資訊有限公司
							.p 2016 - 2018
						li.context 獨立負責網頁介面 / 視覺設計、平面設計、印前設計，並與公司接案客戶溝通需求和前端工程師合作製作網頁，並規劃公司新創項目台灣物流寶的品牌視覺與產品介面。
				
				.row#row_4
					.type Education
					ul
						li.point_p 
							h3 學士
							.p 國立臺灣藝術大學
							.p 2011-2015
						li.context 學習設計方法、3D 產品製圖和立體造型的實作，主修產品設計，經過多次評圖、設計發想、觀察使用者需求、討論及合作經驗到實際製作產品。

				
				.row#row_5
					.type Skills
					ul
						li.point_p 
							.p Sketch  / Illstrutor / Phtoshop 
						li.point_p 
							.p HTML / CSS 

				.row#row_6
					.type Contact
					ul
						li.point_p
							.p.contact_type Mail
							.p /
							//- .icon
							//- 	img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="mailto:ev7217@gmail.com") ev7217@gmail.com
							
						//- li.point_p
						//- 	.p.contact_type Linkedin
						//- 	.p /
						//- 	//- .icon
						//- 	//- 	img(src="https://i.imgur.com/XUpneFa.png", alt="")
						//- 	a(href="https://www.linkedin.com/in/mandy-jian/") linkedin.com/in/mandy-jian/
							
						//- li.point_p
						//- 	.p.contact_type Resume
						//- 	.p /
						//- 	//- .icon
						//- 	//- 	img(src="https://i.imgur.com/XUpneFa.png", alt="")
						//- 	a(href="resume.pdf") Download PDF
				
				hr
				a(href="index.html").back.X_center UI DESIGN WORKS


							 


		script(src='js/pulgins/jquery/jquery-3.3.1.min.js')
		script(src='js/index.js') 

