html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title About-Mandy Jian
		link(rel="icon" href="images/favicon.png" type="image/png" sizes="32x32")

		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/about.css")


	body
		.about_banner(style='background: url(images/about_banner.jpg)')
			
		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="index.html")
								h6 UI DESIGN
						li 
							a(href="other_works.html")
								h6 OTHER WORKS
						li 
							a(href="about.html")
								h6 ABOUT
						li
							a(href="resume.html")
								h6 RESUME
		.content
			.me
				.pic
				.name
					h1 Mandy Jian
					h2 UI & Visul Designer
			.resume
				.row#row_1
					.type Experience
					lu
						li.point_p 
							.p UI / 視覺設計師
							.p 元祺資訊有限公司
							.p 2016 - 2018
						li.context 曾任
				
				.row#row_2
					.type Education
					lu
						li.point_p 
							.p 學士
							.p 國立臺灣藝術大學
							.p 2011-2015
						li.context 就讀大學時期培養藝術美感並學習設計方法、3D產品製圖和立體造型的實作，主修產品設計，經過多次評圖、討論合作經驗，學習到觀察使用者需求並不斷更改出符合需求的最佳設計，也經由木工、金工、陶瓷、產品等立體造型實作基礎，幫助在器物上的設計和美術上的平面轉換立體觀念到產品的設計製作。
				
				.row#row_3
					.type Skills
					lu
						li.point_p 
							.p Sketch  / Illstrutor / Phtoshop 
						li.point_p 
							.p HTML / CSS
				
				.row#row_4
					.type Contact
					lu
						li.point_p
							.p.contact_type MAIL
							.p /
							//- .icon
							//- 	img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="mailto:ev7217@gmail.com") ev7217@gmail.com
							
						li.point_p
							.p.contact_type LINKin
							.p /
							.icon
								img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="https://www.linkedin.com/in/mandy-jian/") https://www.linkedin.com/in/mandy-jian/
							
						li.point_p
							.p.contact_type RESUME
							.p /
							//- .icon
							//- 	img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="") PDF
				
			hr
			a(href="index.html").back UI DESIGN WORKS


							 


		script(src='js/plugins/jquery/jquery-3.3.1.min.js')
		script(src='js/index.js') 

