html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title About-Mandy Jian
		link(rel="icon" href="images/favicon.png" type="image/png" sizes="32x32")

		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/about.css")


	body
		.banner
			
		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="index.html")
								h6 UI DESIGN
						li 
							a(href="orther_works.html")
								h6 OTHER WORKS
						li 
							a(href="about.html")
								h6 ABOUT
						li
							a(href="resume.html")
								h6 RESUME
		.content
			.me
				.pic
				.name
					h1 Mandy Jian
					h2 UI & Visul Designer
			.resume
				.row#row_1
					.type Experience
					lu
						li.point_p 
							.p 網頁UI / 視覺設計師
							.p 元祺資訊有限公司
							.p 2016 - 2018
						li.context 經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷
				
				.row#row_2
					.type Education
					lu
						li.point_p 
							.p 學士
							.p 國立臺灣藝術大學
							.p 2011-2015
						li.context 經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷經歷
				
				.row#row_3
					.type Skills
					lu
						li.point_p 
							.p Sketch  / Illstrutor / Phtoshop 
						li.point_p 
							.p HTML / CSS
				
				.row#row_4
					.type Contact
					lu
						li.point_p
							.p.contact_type MAIL
							.p /
							img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="") DOWNLOAD
							
						li.point_p
							.p.contact_type LINKin
							.p /
							img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="") DOWNLOAD
							
						li.point_p
							.p.contact_type RESUME
							.p /
							img(src="https://i.imgur.com/XUpneFa.png", alt="")
							a(href="") DOWNLOAD
				
			hr
			a(href="index.html").back UI DESIGN WORKS


							 


		script(src='js/plugins/jquery/jquery-3.3.1.min.js')
		script(src='js/index.js') 

