html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title Mandy Jian
		link(rel="icon" href="images/favicon.png" type="image/png" sizes="32x32")
			//- fonts
		link(rel="stylesheet prefetcht", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		//- reset css
		link(rel="stylesheet", href="css/reset.css")
		//- costom css
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/index.css")

	body
		header.navdiv
			.content 
				.logo
					//- a(href="about.html")
					.icon
						img(src="images/logo.svg", alt="Logo")
					.text
						h5.top_hello.mobile_hidden Hello, I’m 
						h1.top_name.mobile_hidden Mandy.
						h1.top_name.desktop_hidden Mandy

				.navbar
					.nav
						ul
							li
								.nowpage UI DESIGN
							li.mobile_hidden 
								a(href="orther_works.html") OTHER WORKS
							li.mobile_hidden 
								a(href="about.html") ABOUT
							li.mobile_hidden 
								a(href="") RESUME

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="index.html")
								h6 UI DESIGN
						li 
							a(href="orther_works.html")
								h6 OTHER WORKS
						li 
							a(href="about.html")
								h6 ABOUT
						li
							a(href="resume.html")
								h6 RESUME

		.works

			section.works_web.text_up
				.content
					a(href="works/work1.html").top_work

						.photo.firstWork(style="background-image: url('images/tw568_index.jpg')")

						.info
							h2.title 台灣物流寶
							hr.topic

							.title_p 
								p 整合台灣跨境物流貨況信息，使用者能在線上比較各家物流方案並下訂運單。
								.tag WEB /  2017


					.sec_works
							a(href="works/work2.html").sec_work

								.photo(style="background-image: url('https://i.imgur.com/bO04uIr.png')")

								.info
									h2.title 集思創新平台
									hr.topic.desktop_hidden

									.title_p 
										p 社論網站規劃

									.tag WEB /  2017


							a(href="works/work3.html").sec_work

								.photo(style="background-image: url('https://i.imgur.com/b9HiIjS.jpg')")

								.info
									h2.title 萄萄居青年旅社

									hr.topic.desktop_hidden

									.title_p 
										p 澳洲打工度假青年旅社官方網站

									.tag WEB /  2017


							a(href="works/work4.html").sec_work

								.photo(style="background-image: url('https://i.imgur.com/b9HiIjS.jpg')")

								.info
									h2.title 個人作品集

									hr.topic.desktop_hidden

									.title_p 
										p 本作品集的設計製作過程

									.tag WEB /  2017
								
			
			section.works_app.mobile_hidden.shadowblock
				.content
					
					.top_work
						a(href="works/work5.html").info
							h2.title 貨運條碼掃描
							hr.topic
							.title_p 
								p 台灣物流寶的產品之一，以快遞司機為使用對象而設計的APP。

						.app
							iframe(src="https://marvelapp.com/3h2b9a0?emb=1&iosapp=false&frameless=false" width="390" height="755" allowTransparency="true" frameborder="0")


			section.works_logo.text_up
				.content
					a(href="works/work6.html").top_work

						.photo(style="background-image: url('https://i.imgur.com/bO04uIr.png')")

						.info
							h2.title FORMOSAAS

							hr.topic

							.title_p 
								p 軟體服務視覺設計

							.tag LOGO DESIGN /  2017


		foot.footer

				a.link(href="orther_works.html")
					.text
						h2.title_en ORTHER WORKS
						hr.topic

				.contact

					.content

						.mail
							.icon
								img(src="images/footer_logo.svg", alt="")
							.text
								h5 Let’s talk to me
								p ev217@gmail.com
							 

						.top#go_to_top
							button
								img(src="images/top.svg", alt="" title="Go to top" )

		script(src='js/plugins/jquery/jquery-3.3.1.min.js')
		script(src='js/index.js')
