html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		meta(name="robots" content="noindex")
		meta(name="googlebot" content="noindex")
		title Mandy Jian
		link(rel="icon" href="images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/plugins/fancybox/jquery.fancybox.min.css")

		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/other_works.css")


	body
		header.navdiv
			.content
				.logo
					.icon
						img(src="images/logo.svg", alt="Logo")
					//- .text
					//- 	h5.top_hello.mobile_hidden Hello, I’m
					//- 	h1.top_name.mobile_hidden Mandy.
					//- 	h1.top_name.desktop_hidden Mandy

				.navbar
					.nav
						ul
							li.mobile_hidden
								a(href="index.html") UI DESIGN
							li.nowli
								.nowpage OTHER WORKS
							li.mobile_hidden 
								a(href="about.html") ABOUT
							//- li.mobile_hidden 
							//- 	a(href="resume.html") RESUME

			.mobile_nav
				input#open_menu(type="checkbox")
				.menu
					.hunburger_menu
						ul
							li.line1
							li.line2
							li.line3
					.mobile_menu
						ul
							li 
								a(href="index.html")
									h6 UI DESIGN
							li 
								a(href="other_works.html")
									h6 OTHER WORKS
							li 
								a(href="about.html")
									h6 ABOUT
							//- li
							//- 	a(href="resume.html")
							//- 		h6 RESUME

		.works
			section.works_3d
				.content
					.top_work
						.iframe_3d
							#3d
								iframe(width="100%" height="500" src="https://sketchfab.com/models/712c80c56d1444f8ad1626b68bf21dab/embed?camera=0" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true")
								
						.info
							h2.title 遊戲人物設計
							//- hr.topic
							.title_p 
								p 以3DMAX製作的人物與武器3D模型，設定為原創設計。
								.tag 3D MODEL /  2016

					.works_2d
						.row
							a.work_2d.narrow(href="images/otherWorks/2d_wolf.jpg" data-fancybox="gallery" style="background-image: url('images/otherWorks/2d_wolf_index.jpg')")

							a.work_2d.width(href="images/otherWorks/2d_ remains.jpg" data-fancybox="gallery"  style="background-image: url('images/otherWorks/2d_remains_index.jpg')")

							a.work_2d.width(href="images/otherWorks/2d_knight.jpg" data-fancybox="gallery"  style="background-image: url('images/otherWorks/2d_knight_index.jpg')")

							a.work_2d.narrow(href="images/otherWorks/2d_witchs.jpg" data-fancybox="gallery"  style="background-image: url('images/otherWorks/2d_witchs_index.jpg')")


							
			section.works_craft
				.content
					a(href="works/work_chair.html").top_work
						.info
							.en_and_ch
								h2.title_en Cat't Cradle 
							hr.topic
							.title_p 
								p 以翻花繩的意像讓使用者坐上時有遊戲般的感受，兩邊椅面有雙手的意涵，宛如將使用者捧在手心上。
							.tag 產品設計 /  2015

						.photo(style="background-image: url('images/otherWorks/chair_index_2.jpg')")

					.works_2d
						.row
							a.work_2d.narrow(href="images/otherWorks/craft_rains.jpg" data-fancybox="images" data-caption="金工" style="background-image: url('images/otherWorks/craft_rains_index.jpg')")

							a.work_2d.width(href="images/otherWorks/sketch.jpg" data-fancybox="images" data-caption="素描" style="background-image: url('images/otherWorks/sketch_index.jpg')")

							//- a.work_2d.width(href="images/otherWorks/2d_skyIsland.jpg" data-fancybox="images" data-caption="Caption" style="background-image: url('images/otherWorks/2d_skyIsland.jpg')")


		footer.footer
				a.link(href="index.html")
					.text
						h2.title_en UI DESIGN WORKS
						hr.topic
				.contact
					.content
						.mail
							.icon
								img(src="images/logo_icon.svg", alt="")
							.text
								h5 GET IN TOUCH
								p ev217@gmail.com
							
						.top#go_to_top
							button
								img(src="images/top.svg", alt="" title="Go to top" )

		script(src='js/plugins/jquery/jquery-3.3.1.min.js')
		
		script(src='js/index.js')
		script(src='js/allpages.js')
		script(src='js/plugins/fancybox/jquery.fancybox.min.js')