html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title 萄萄居-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../other_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						//- li
						//- 	a(href="../resume.html")
						//- 		h6 RESUME

			
			
		header.banner(style="background-image: url(../images/total_banner.jpg)")
			.content_1440
				.article_title
					H1.title_en.white.text_shadow 萄萄居青年旅社
					.tag
						p.white.text_shadow web, visual design, UI
					p.white.text_shadow 萄萄居是位在澳洲的打工度假青年旅社，網站主要功能除了介紹房型和旅社還有介紹當地的工作機會。
					a(href="http://totalbackpackers.mynet.com.tw/" target="_blank").web_link 測試網站
				

		.color_bg.color_bg_work3
			.content_1440

					h3 介面風格設計
					br
					p 以淡雅的深咖啡色配上優美的澳洲風景圖片，營造度假的休閒氛圍。



		main.article
			.content_1024
				.paragraph
					h3 中英文首頁
					p 在首頁設計上中英文語系有略微變化。
					img.border(src="../images/total_ui.jpg",  data-action="zoom" title='網站頁面')
					.img_tag 網站頁面

				.paragraph
					h3 內頁設計
					.row
						.col_1_3
							img.border(src="../images/total_activity.jpg",  data-action="zoom" title='活動專區')
							.img_tag 活動專區
						.col_1_3
							img.border(src="../images/total_location.jpg",  data-action="zoom" title='周邊景點')
							.img_tag 周邊景點
						.col_1_3
							img.border(src="../images/total_location_intro.jpg",  data-action="zoom" title='周邊景點詳細介紹')
							.img_tag 周邊景點詳細介紹
					
				.paragraph
					h3 客製化地圖
					p 將google地圖設計為符合網站色調，使網站風格更統一。
					img.border(src="../images/total_contact.jpg",  data-action="zoom" title='聯絡我們')
					.img_tag 聯絡我們頁面
				

			h3.text_center RWD設計
			.color_bg(style="background-image: url('../images/total_bg.png')")
				img(src="../images/total_mobile.png"  title='RWD設計')


				
			.footer_botton.content_1024
				a#prev(href="") &lt; Previous 
				a.article_back(href="../index.html") UI DESIGN
				a#next(href="") Next &gt;



		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 


