html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		meta(name="robots" content="noindex")
		meta(name="googlebot" content="noindex")
		title 台灣物流寶-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../other_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						//- li
						//- 	a(href="../resume.html")
						//- 		h6 RESUME

			
			
		header.banner(style="background-image: url(../images/setupwizard_banner.jpg")
			.content_1440
				.article_title
					H1.title_en.white.text_shadow Setup wizard
					.tag.white.text_shadow web, GUI design
					p.white.text_shadow VIVOTEK自有品牌監視攝影機的一頁式網站安裝精靈，讓使用者能在短時間做好基本的攝影機設定。
				.banner_img
					img(src="../images/setupwizard_banner_img.png", alt="")

		.color_bg.color_bg_work_setupwizard
			.content_1440
				h3 負責工作
				p 與UX設計師合作設計，負責將UI流程與框架轉換為最終視覺設計。


		main.article
			.color_bg_gray_white.shadowblock
				.content_1024
					.paragraph
						h3 設計目標
						.row
							ul.border
								h5 視覺設計重點
								li
									p 簡潔明亮的設計風格
								li
									p 優雅時尚的商業配色選擇
								li
									p 以筆記型電腦解析度為主設計

							ul.border
								h5 色彩規劃
								li
									p 重點色選擇鮮豔又沈穩的深藍色，使畫面有商業科技感
								li
									p 舒適對比足夠的灰階文字設計

							ul.border
								h5 視覺分層設計
								li
									p 以文字與元件間距、位置、大小的巧妙設計將內容分群，使使用者能輕易在看到畫面當下了解各設定間的群集分層關係
						
			.content_1024
				.paragraph
					h3 主題配色
					p 背景以舒適的灰階色為主，搭配鮮艷明亮的強調色
					br
					.row
						.col_1_6.border(style="background-color:#F7F7F7;padding:20px;")
							h5.text_center 背景色
							p.text_center 淺灰白，優雅調性


						.col_1_6.border(style="background-color:#171717;padding:20px;")
							h5.white.text_center 輔助、文字色
							p.white.text_center 近黑色強調對比

						.col_1_6.border(style="background-color:#1756E5;padding:20px;")
							h5.white.text_center 主題色
							p.white.text_center 科技感、可互動指引

						.col_1_6.border(style="background-color:#013ABC;padding:20px;")
							h5.white.text_center 主題輔色
							p.white.text_center 互動反饋

						.col_1_6.border(style="background-color:#FF9B39;padding:20px;")
							h5.white.text_center 警示色
							p.white.text_center 提醒示意

						.col_1_6.border(style="background-color:#0EC42B;padding:20px;")
							h5.white.text_center 正向回饋色
							p.white.text_center 成功反饋						


				.paragraph
					h3 元件設計
					p 元件各狀態的標準規劃
					img.border(src="../images/setupwziard_uikits.png" data-action="zoom" title='元件設計')
					.img_tag 元件與狀態設計圖

				.paragraph
					h3 Icon設計
					p 規劃搭配乾淨鮮明的顏色和線型Icon設計
					img.border(src="../images/setupwizard_icon.png" data-action="zoom" title='Icon')
					//- img.border(src="../images/setupwizard_popup.png" data-action="zoom" title='成功畫面跳出視窗')
					//- .img_tag 成功畫面跳出視窗
				
				
			.color_bg.color_bg_work_setupwizard
				.content_1200
					h2.text_center 解析度尺寸
					p.text_center 因使用者多為使用筆電的安裝人員，以1366x768為主要解析度，僅針對桌面及筆記型電腦解析度做設計。
					img(src="../images/setupwizard_resolution.png", title='首頁')

			.content_1024
				
				.paragraph
					h3 簡易RWD
					p 設計時將設定內容分為左右兩欄位，當解析度寬度低於1280px時，右側欄位會向下排列。
					img.border(src="../images/setupwizard_rwd.png",  data-action="zoom" title='會員操作介面風格')
						
					
				.paragraph
					h3 跳出視窗設計 
					p 簡潔直角型設計
					img.border(src="../images/setupwizard_popup.png",  data-action="zoom" title='會員操作介面風格')
				
				
			.footer_botton.content_1024
				hr
				a#prev(href="") &lt; Previous 
				a.article_back(href="../index.html") UI DESIGN
				a#next(href="") Next &gt;



		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 


