html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title 台灣物流寶-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../orther_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						li
							a(href="../resume.html")
								h6 RESUME

			
			
		header.banner(style="background-image: url(../images/tw568_banner.jpg)")
			.content_1440
				.article_title
					H1.title_en 台灣物流寶
					.tag web, visual design, UX
					p Now, if you are interested in being the best player, getting really good money and knowing some tricks and Some of the people that are playing, and that have few rounds to play in the tournament don’t count the drinks they have during their games and at the very end of the day they don’t have power to continue till the last game, which is a pity to loose such a big opportunity, so, don’t drink a lot and be prepare for the last round, also come up with all your senses in order.
				.banner_img
					img(src="../images/tw568_banner_img.png", alt="")

		.color_bg
			.content_1440
				ul
					li
						h5 負責項目
						br
						p UI設計
						p 視覺設計
					
					
		main.article
			.content_1024
				p 你我他ometimes this is the irony of promoting your businesses products and services, because for a fact that you want to make your business recognizable and earn more sales of course you need to come up with attractive prints that will make you stand out. And since you want to be competitive you want to come up with a material that will make you stand out and recognizable. 
				
				img(src="https://i.imgur.com/p0soVzF.jpg" data-action="zoom")
				
				p Now, if you are interested in being the best player, getting really good money and knowing some tricks and Some of the people that are playing, and that have few rounds to play in the tournament don’t count the drinks they have during their games and at the very end of the day they don’t have power to continue till the last game, which is a pity to loose such a big opportunity, so, don’t drink a lot and be prepare for the last round, also come up with all your senses in order. 
			
				br 
				
				p If you drink, do it measurat to loose the nerves before the games but also have some other drinks like soda, water, coffee and others to hydrate your self. 2) Is it important where I sit? Yes it is, in a tournament try not to sit next to the dealer, take a place in where you will feel that you are in front of the dealer to have the feeling that he is giving you a game. 
			
			.color_bg
				.content_1024
					br
					
					p Also in a place where you will feel comfortable with your self and you will have a perspective of the other players.


			.content_1024
			
				br 
				
				p If you drink, do it measurat to loose the nerves before the games but also have some other drinks like soda, water, coffee and others to hydrate your self. 2) Is it important where I sit? Yes it is, in a tournament try not to sit next to the dealer, take a place in where you will feel that you are in front of the dealer to have the feeling that he is giving you a game. 
				
				
			.footer_botton.content_1024
				hr
				a#prev(href="") &lt; Previous 
				a.article_back(href="../index.html") BACK
				a#next(href="") Next &gt;



		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 


