html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		meta(name="robots" content="noindex")
		meta(name="googlebot" content="noindex")
		title 個人作品集-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../other_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						//- li
						//- 	a(href="../resume.html")
						//- 		h6 RESUME

			
			
		header.banner(style="background-image: url(../images/portfolio_banner.jpg)")
			.content_1440
				.article_title
					H1.title_en.white.text_shadow 個人作品集
					.tag.white.text_shadow web, visual design, UI ,  HTML , CSS , JS
					p.white.text_shadow 本作品集網站整合個人專業技能 從設計到撰寫製作
				

		.color_bg.color_bg_work_portfolio
			.content_1440

					h3 設計理念
					p 簡潔清爽的介面風格將視覺焦點留給作品<br>加入CSS動畫微互動提升使用者和介面的互動體驗



		main.article
			.content_1024
				.paragraph
					h3 User Story
					.row
						.col_1_3.text_center.border.p_20
							img.icon(src="../images/icon/author.svg")
							h5.text_center 作者
							p.text_center 我希望使用者能快速地瞭解我的專業能力和過去的工作內容

						.col_1_3.text_center.border.p_20
							img.icon(src="../images/icon/company.svg")
							h5.text_center 求才公司
							p.text_center 我想快速地閱覽作品、簡歷，有興趣的話要能取得作者的聯絡方式

						.col_1_3.text_center.border.p_20
							img.icon(src="../images/icon/friend.svg")
							h5.text_center 作者朋友
							p.text_center 我想欣賞作品並了解作者的工作



				.paragraph
					.row
						.col_1_2
							h3 Functional Map
							img.border(src="../images/portfolio_FunctionalMap.jpg",  data-action="zoom" title='Functional Map')

						.col_1_2
							h3 Flow Chart
							img.border(src="../images/portfolio_FlowChart.jpg",  data-action="zoom" title='Flow Chart')
				

			.color_bg.color_bg_work_portfolio
				.content_1440
					h3 Wireframe
					.row
						.col_1_4
							img(src="../images/portfolio_Wireframe_UIDesign.jpg"  title='UI Design')
							.img_tag UI Design

						.col_1_4
							img(src="../images/portfolio_Wireframe_ortherWorks.jpg"  title='Orther Works')
							.img_tag Orther Works

						.col_1_4
							img(src="../images/portfolio_Wireframe_about.jpg"  title='About')
							.img_tag About

						.col_1_4
							img(src="../images/portfolio_Wireframe_workIntro.jpg"  title='Work Intro')
							.img_tag Work Intro
						
			


			.shadowblock.color_bg_gray_white
				.content_1440
					.paragraph
						.row
							.col_1_2
								h3 Style Guide
								img.border(src="../images/portfolio_style.jpg",  data-action="zoom" title='Style Guide')
								.img_tag 顏色和字型樣式

							.col_1_2
								h3 Icon Design
								img.border(src="../images/portfolio_logo.jpg",  data-action="zoom" title='個人標誌設計')
								.img_tag 個人標誌設計

							


					.paragraph.text_left
						h3 Mockup
						p 以Sketch繪製UI設計圖，內容圖則用Photoshop和Illustrator製作
						a(href="https://zpl.io/VDzWQEq" target="_blank").web_link Mockup in Zeplin
						.row
							.col_1_4
								img.border(src="../images/portfolio_mockup_UIDesign.jpg" data-action="zoom"  title='UI Design')
								.img_tag UI Design

							.col_1_4
								img.border(src="../images/portfolio_mockup_ortherWorks.jpg" data-action="zoom"  title='Orther Works')
								.img_tag Orther Works

							.col_1_4
								img.border(src="../images/portfolio_mockup_about.jpg" data-action="zoom"  title='About')
								.img_tag About

							.col_1_4
								img.border(src="../images/portfolio_mockup_workIntro.jpg" data-action="zoom"  title='Work Intro')
								.img_tag Work Intro

			.content_1024

				.paragraph
					h3 程式撰寫
					p 選用Sublime Text撰寫PUG,SASS,JS
					img.border(src="../images/portfolio_pug.jpg",  data-action="zoom" title='聯絡我們')
					.img_tag 撰寫畫面示意

				.paragraph
					h3 微互動
					p 加上CSS動畫增加互動性和動態感

					.row
						.col_1_2
							img.border(src="../images/portfolio_footer.jpg",  data-action="zoom" title='製作兩張位置一樣的圖' style="margin:0;")
							.img_tag 製作兩張位置一樣的圖

						.col_1_2
							iframe.border(width="100%" height="260" src="https://www.youtube.com/embed/PvYzfJMLx3M?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
							.img_tag CSS轉場互動效果



				.paragraph
					h3 新改版
					p 首頁, Logo, About, 文字等調整，將畫面重新設計為更簡潔、現代化。

					.row
						.col_1_2
							h3
							img.border(src="../images/portfolio_version_old.png",  data-action="zoom" title=' 2018年舊版本' style="margin:0;")
							.img_tag 2018年舊版本

						.col_1_2
							h3
							img.border(src="../images/portfolio_version_new.png",  data-action="zoom" title='2020年新版本' style="margin:0;")
							.img_tag 2020年新版本



			div(style="background-image: url('../images/portfolio_rwd.jpg');background-position: center;background-repeat: no-repeat;background-size:cover")
				.content_1440
					.row(style="height: 80vh;")
						.col_1_3
						.col_1_3
						.col_1_3(style="padding: 30vh 30px 0px 30px;")
							h2 RWD DESIGN
							a.text_left.web_link(href="https://material.io/resources/resizer/#device=window&url=https%3A%2F%2Fmandyjian.work&width=480" target="_blank") See different sizes
							//- img(src="../images/portfolio_rwd.jpg", alt="")

			
				
			.footer_botton.content_1024
				a#prev(href="") &lt; Previous 
				a.article_back(href="../index.html") UI DESIGN
				a#next(href="") Next &gt;




		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 
		script(src='../js/allpages.js')

