html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		title 台灣物流寶-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../other_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						li
							a(href="../resume.html")
								h6 RESUME

			
			
		header.banner(style="background-image: url(../images/tw568_banner.jpg)")
			.content_1440
				.article_title
					H1.title_en 台灣物流寶
					.tag web, visual design, UI, UX
					p 台灣物流寶為元祺資訊的新創項目，目標整合台灣的跨境和國內物流信息，而此網站為推廣台灣物流寶服務，並讓使用者能在線上比較各家物流方案並下訂運單及查詢即時貨況。
				.banner_img
					img(src="../images/tw568_banner_img.png", alt="")

		.color_bg.color_bg_work1
			.content_1440
				h3 負責工作
				br
				p 規劃線上網站所提供的服務流程並設計介面。

		main.article
			.content_1024
				.paragraph
					h3 網站目標
					p 推廣台灣物流寶服務並引導使用者註冊會員及下訂運單，提供良好的物流資訊體驗，期望使用者能成為長期合作客戶。
				
				.paragraph
					h3 設計目標
					p 以簡單易懂的介面讓使用者能夠快速理解複雜的服務內容，網站風格為舒適沈穩和信任感。

				.paragraph
					h3 設計過程
					.row
						ul.border
							h5 資料收集
							li
								p 有相同服務的網站介面流程
							li
								p 比較各家物流公司的填寫需求欄位
							li
								p 各家物流公司的線上下單介面
							li
								p 跨境物流流程

						ul.border
							h5 介面風格設計
							li
								p logo設計
							li
								p 網站風格規劃

						ul.border
							h5 介面設計
							li
								p 使用介面流程
							li
								p 使用介面需求功能
							li
								p 未來UX優化功能

				.paragraph
					h3 LOGE設計
					img(src="../images/tw568_logoDesign.jpg",  data-action="zoom" title='LOGE設計')


				.paragraph
					h3 介面風格設計

					img.border(src="../images/tw568_indexDesign.jpg",  data-action="zoom" title='首頁')
					.img_tag 首頁設計過程
					
				.paragraph
					img.border(src="../images/tw568_rwd.jpg",  data-action="zoom" title='首頁')
					.img_tag RWD設計

				.paragraph
					img.border(src="../images/tw568_memberCentrer.jpg",  data-action="zoom" title='會員操作介面風格')
					.img_tag 會員操作介面

				.paragraph
					img.border(src="../images/tw568_style.jpg",  data-action="zoom" title='會員操作介面風格')
					.img_tag STYLE GUIDE

				.paragraph
					h3 下單流程規劃
					p 此網站前台的設計的目標客戶為個人使用者，希望讓第一次使用的客戶有良好的物流資訊服務體驗，並能夠經由體驗過程理解台灣物流寶的服務內容，往後有長期物流需求時在線上簽約成為廠商會員。
					
					img.border(src="../images/tw568_personalShip.png" data-action="zoom" title='未簽約的個人使用者前台下單流程')

					
					img.border(src="../images/tw568_contractedShip.png" data-action="zoom" title='未簽約的個人使用者前台下單流程')


				.paragraph
					h3 首頁規劃
					p 為了使第一次來到此網站的人能夠快速理解此網站的功能，在首頁最重要的欄位為搜尋方案，以重點色按鈕將視覺焦點帶到此欄位，只要選擇貨物的起始地和目的地就可以看到此路線和台灣物流寶合作的物流方案。首頁第二重要的欄位為貨況查詢，使用者來上網站除了下單外最需要的就是想知道貨物到了哪裡，這預期是最常使用的欄位。
					
					img.border(src="../images/tw568_order_index.jpg" data-action="zoom" title='未簽約的個人使用者前台下單流程')
					.img_tag 一進入網站看到的首頁
					 
				
			.color_bg.color_bg_work1
				.content_1024
					h3 下單介面設計
					p UI flow


			.content_1024
				.paragraph
					h3 方案篩選介面
					p 首頁的方案搜尋欄位只有起始和目的地，是最簡化的篩選條件，但各家物流還有不同的貨物限制，消費者要下單時會需要知道貨物符不符合限制，經由程式計算篩選後讓下一頁顯示出的物流方案更符合使用者的需求。
					
					img.border(src="../images/tw568_order_ship.jpg" data-action="zoom" title='派送貨物主要介面')
					.img_tag 派送貨物主要介面

				.paragraph
					h3 方案比較 
					p 會依照使用者之前輸入的欄位篩選出符合的方案並由程式自動計算參考總價，使用者要在此頁選出最適合自己的物流方案，可以從左側篩選欄幫助篩選，或是點選項目排序（像是價格由低到高）。
					
					img.border(src="../images/tw568_order_program.jpg" data-action="zoom" title='方案比較介面')
					.img_tag 方案比較介面

				.paragraph
					h3 註冊會員
					p 選擇方案後會需要登入會員才能填寫資料（因為要記錄此訂單），為減少要註冊會員嫌麻煩就跳出的使用者，註冊會員設計成只要手機驗證就可以成功註冊，直接前往下一頁填寫資料，而在之後填寫寄件人資料後會詢問是否設為用戶資料或是可由會員介面更改資料。
					
					img.border(src="../images/tw568_order_registered.jpg" data-action="zoom" title='快速註冊流程')
					.img_tag 快速註冊流程

				.paragraph
					h3 填寫資料介面
					p 此下單原則為選擇一種方案並只能有一個寄件人和起始地但能有不同的收件者和目的地。使用者可能需要一次下單不同路線，有這種需求的使用者可以填寫完方案資料然後加入購物車，最後一起結帳。
					br
					p 以使用者選擇的物流方案，依照方案內不同物流公司需求資料，介面會變動填寫欄位，像是跨境的方案和境內的方案填寫內容就非常不同。欄位會有輸入提示和即時檢查是否符合規則，欄位會有不同的顏色來表示目前填寫狀態（未填寫為灰色/已填寫為綠色/已填寫但不符合規則為紅色），在此過程時就會記錄此未完成訂單，各欄位填寫時會記錄填寫內容已免使用者意外跳出頁面，使用者可以找回此訂單再次填寫。
					br
					p 跨境路線會需要一些使用者可能不明白的資料（像是報關單），介面優化目標為提供參考資料或設計功能幫助使用者填寫較複雜的欄位。
					
					img.border(src="../images/tw568_order.jpg" data-action="zoom" title='包裹資料填寫和結算介面')
					.img_tag 包裹資料填寫和結算介面
						


				.paragraph
					h3 下單成功
					p 計算出預期到達時間讓使用者能夠預期時間，下方引導使用者將運單貼好將貨物交給物流公司，並會寄發簡訊來通知使用者下單成功和之後的貨況通知，使用者可由單號來網站查詢貨況，當貨物成功到達後才算是完成整個服務流程。
					
					img.border(src="../images/tw568_order_search.jpg" data-action="zoom" title='查詢貨況介面')
					.img_tag 查詢貨況介面

					
				
			.footer_botton.content_1024
				hr
				a#prev(href="") &lt; Previous 
				a.article_back(href="../index.html") UI DESIGN
				a#next(href="") Next &gt;



		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 


