html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		meta(name="robots" content="noindex")
		meta(name="googlebot" content="noindex")
		title Cat's Cradle-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../other_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						//- li
						//- 	a(href="../resume.html")
						//- 		h6 RESUME

			
			
		header.banner(style="background-image: url(../images/otherWorks/chair_banner.jpg)")
			.content_1440
				.article_title
					H1.title_en.white.text_shadow Cat's Cradle 翻花椅
					.tag
						p.white.text_shadow 國立臺灣藝術大學工藝設計系, 畢業製作
					p.white.text_shadow Cat's Cradle取自翻花繩的英文別名，現代人與人之間的交流逐漸減少，虛擬的互動無法滿足我們現實上對溫暖擁抱的需求。我們將翻花繩的意象轉化成座椅設計，讓使用者坐在交叉的繩面上，聯想到像是遊戲般的樂趣，兩邊包覆的雙翼有著雙手的意涵，讓使用者坐上去宛如被捧在手心上。


				

		.color_bg.color_bg_work_chair
			.content_1440

					h3 共同設計作者
					p 韓欣蓓



		main.article
			.content_1024
				.paragraph
					h3 設計理念
					p 將人與人之間的陪伴互動方式，如抱、臥、互擁 等姿態進行轉化，呈現包覆、安慰與溫暖依靠的座椅設計，進而讓使用者在與座椅互動時有「被擁抱」的感受。

					.row
						.col_1_2
							img.border(src="../images/otherWorks/chair_legendMap.jpg",  data-action="zoom" title='聯想圖')
							.img_tag 以“捧”的概念做聯想圖


						.col_1_2
							img.border(src="../images/otherWorks/chair_sketch.jpg",  data-action="zoom" title='設計草圖')
							.img_tag 部分設計草圖



				.paragraph
					h3 最終版本
					.row
						.col_1_2
							img.border(src="../images/otherWorks/chair_3D.jpg",  data-action="zoom" title='最終草圖和3D模擬圖')
							.img_tag 最終草圖和3D模擬圖


						.col_1_2
							img.border(src="../images/otherWorks/chair_workingDrawing.jpg",  data-action="zoom" title='工程設計圖')
							.img_tag 工程設計圖

				.paragraph
					h3 製作過程
					img.border(src="../images/otherWorks/chair_manufacture.jpg",data-action="zoom" title='過程')
					.img_tag 過程照片


			.color_bg_gray_white
					.content_1440
						h3.text_center 完成產品
						.paragraph
							.row
								.col_2_3
									img(src="../images/otherWorks/chair_product.jpg",  data-action="zoom" title='產品攝影')

								.col_1_3
									.margin_X_auto.text_center(style="padding: 5%;")
										img.border_circle.icon(src="../images/otherWorks/chair_rope.jpg", title='彈性繩')
										h5.text_center 椅面材質
										p.text_center 椅面為手工染色彈性繩
									.margin_X_auto.text_center(style="padding: 5%;")
										img.border_circle.icon(src="../images/otherWorks/chair_sit.jpg", title='使用者乘坐')
										h5.text_center 乘坐方式
										p.text_center 彈性繩會支撐使用者的臀部

									.margin_X_auto.text_center(style="padding: 5%;")
										img.border_circle.icon(src="../images/otherWorks/chair_wood.jpg", title='椅身木材')
										h5.text_center 椅身木材
										p.text_center 淡色的山毛櫸拼木

					.content_1920
						img(src="../images/otherWorks/chair_model.jpg" title='UI Design' )
						

			
				
			.footer_botton.content_1024
				a.article_back(href="../other_works.html") OTHER WORKS





		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 
		script(src='../js/allpages.js')

