html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.5')
		meta(name="robots" content="noindex")
		meta(name="googlebot" content="noindex")
		title FORMOSAAS-Mandy Jian
		link(rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700") 
		link(rel="stylesheet", href="../css/reset.css")
		link(rel="stylesheet", href="../css/plugins/zoom/zoom.css")

		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/works.css")


	body

		.mobile_nav
			input#open_menu(type="checkbox")
			.menu
				.hunburger_menu
					ul
						li.line1
						li.line2
						li.line3
				.mobile_menu
					ul
						li 
							a(href="../index.html")
								h6 UI DESIGN
						li 
							a(href="../other_works.html")
								h6 OTHER WORKS
						li 
							a(href="../about.html")
								h6 ABOUT
						//- li
						//- 	a(href="../resume.html")
						//- 		h6 RESUME

			
			
		header.banner(style="background-image: url(../images/formosaas_banner.jpg)")
			.content_1440
				.article_title
					H1.title_en.white.text_shadow FORMOSAAS
					.tag.white.text_shadow LOGO, visual design

				

		.color_bg.color_bg_work_formosaas
			.content_1440

					p Formosaas為軟體整合服務產品，由福爾摩沙意象發想視覺風格。



		main.article
			.content_1024
				.paragraph
					h3 設計目標
					.row
						
						.col_1_3.text_center.border(style="padding: 20px")
							img.icon(src="../images/icon/time.svg")
							h3.text_center 現代感
							p.text_center 符合軟體視覺設計潮流

						.col_1_3.text_center.border(style="padding: 20px")
							img.icon(src="../images/icon/formosa.svg")
							h3.text_center 聯想性
							p.text_center 具有福爾摩沙的意象
						
						.col_1_3.text_center.border(style="padding: 20px")
							img.icon(src="../images/icon/geometry.svg")
							h3.text_center 幾何與簡潔
							p.text_center 易記憶、重製


				.paragraph
					h3 設計過程
					.row
						.col_1_2
							img.border(src="../images/formosaas_logo_process.svg",  data-action="zoom" title='Functional Map')
							.img_tag 一開始以字首F為設計原點

						.col_1_2
							img.border(src="../images/formosaas_logo_result.svg",  data-action="zoom" title='Flow Chart')
							.img_tag 選擇具有福爾摩沙意象的藍綠色融入山巒形狀


				.paragraph
					h3 最終版本
					.row
						.col_1_2
							img.border(src="../images/fomosaas_simple.svg",  data-action="zoom")
							.img_tag 主視覺
						.col_1_2
							img.border(src="../images/fomosaas_dark_simple.svg",  data-action="zoom")
							.img_tag 深色版主視覺
				
			.shadowblock.color_bg_gray_white
				.content_1024
					.paragraph
						h3 視覺設計範例
						img(src="../images/formosaas_card.jpg",  data-action="zoom" st)
						.img_tag 名片示意圖



			.color_bg.color(style="background-image: url('../images/formosaas_subservice.jpg');background-size:cover;background-position: center;background-repeat: no-repeat")
				.content_1440(style="height: 80%")
					.row
						.col_1_3(style="height: 100%")
							.Y_center.X_center
								h2 Subservice
								p 子服務視覺規劃
							//- img(src="../images/portfolio_rwd.jpg", alt="")
						.col_1_3
						.col_1_3
						

			
				
			.footer_botton.content_1024
				a#prev(href="") &lt; Previous 
				a.article_back(href="../index.html") UI DESIGN
				a#next(href="") Next &gt;




		script(src='../js/plugins/jquery/jquery-3.3.1.min.js')

		script(src='../js/intro.js') 

		script(src='../js/plugins/zoom/transition.js') 
		script(src='../js/plugins/zoom/zoom.js') 
		script(src='../js/allpages.js')

